<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [2]:
## Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Peer_Graded_Assignment

In [3]:
## Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, we are going to describe the Data Science Ecosystem.

In [4]:
## Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular Data Science languages are:

1. Python
2. R
3. SQL
4. Java

In [5]:
## Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries in Data Science are:

1. TensorFlow.
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch
9. Caffe2
10. Chainer

In [7]:
## Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Data Science Tools|
|:--------:|
|  Apache Spark   |
|  TensorFlow   |
|  BigML   |

In [8]:
## Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Now we will discuss various arithmetic experssions. Arithmetic expressions are used as operands of certain conditional and arithmetic statements.

In [ ]:
## Create a code cell to multiply and add numbers. (2 pts)

In [11]:
#Addition
(3+4)

7

In [12]:
#Multiplication
(3*4)

12

In [13]:
## Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [19]:
def convert_min_to_hrs(minutes):
    hrs = (minutes/60)
    return hrs
#converts 180 minutes to hrs
min = 180
print(f"Number of hours in {min} is {convert_min_to_hrs(min)}")

Number of hours in 180 is 3.0

In [20]:
## Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

The objectives covered in this notebook are:
- Familiarise with Data Science tools, languages and libraries.
- Perform basic addition and multiplication expressions.
- Create a code cell to convert Minutes to Hours.

In [22]:
## Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

**Author's Name**

Nikunj Madan